.score-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: #a77804;
  gap: 7px;
  margin-bottom: 5px;

  .score-icon {
    margin-right: 2px;
  }

  span {
    padding-right: 5px;
    font-weight: bold;
    font-size: 0.85rem;
  }
}
