.table-like-comment-score {
  display: flex;
  gap: 10px;
}

.table-actions-container {
  font-size: 1.5rem;
  display: flex;
  gap: 15px;

  .table-action-details {
    color: var(--gold-color);
  }
  .table-action-delete {
    color: red;
  }
  .table-action-edit {
    color: green;
  }
}

.th {
  text-align: center;
  div {
    text-align: center;
    justify-content: center;
    button {
      justify-content: center;
    }
  }
}

.td {
  text-align: center;
  div {
    display: flex;
    justify-content: center;
  }
}

.table-extends-wrapper {
  display: flex;
  grid-column: 1 / -1;
  padding-bottom: 30px;
  ul {
    flex: 1;
    margin: 0;
    padding: 0 50px;
  }
}

.table-pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 50px 0;
  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background-color: #adadad;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: var(--gold-color);
    }
    &.active {
      background-color: var(--gold-color);
    }
  }
}

.calendar-wrapper {
  .rmdp-shadow {
    box-shadow: none;
    background-color: transparent;
  }
  .rmdp-range {
    background-color: var(--gold-color);
    box-shadow: 0 0 3px #00000075;
  }
  .rmdp-week-day {
    color: var(--gold-color);
  }
  .rmdp-arrow-container {
    .rmdp-arrow {
      border-color: var(--gold-color);
    }

    &:hover {
      background-color: var(--gold-color);
      box-shadow: 0 0 3px #00000075;
      .rmdp-arrow {
        border-color: #fff;
      }
    }
  }
  .rmdp-day {
    cursor: auto;
    span:hover {
      background-color: unset;
      color: unset;
    }
  }
}

.table{
	overflow:unset !important;
}