.userInfo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 20px;

  .header-image {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #fff;
    color: #fff;
  }
  .username-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100px;
    .username-role {
      font-size: 0.8rem;
      color: #fff;
      border-top: 1px solid #fff;
      width: 100%;
    }
    .username {
      color: #fff;
    }
  }

  .logout-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 30px;
    color: #fff;
    cursor: pointer;
    &:hover {
      color: var(--gold-color);
    }
    .logout-icon {
      font-size: 1.8rem;
    }
  }
}

.header-icon {
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff !important;
  text-decoration: none;
  &:hover {
    color: var(--gold-color) !important;
  }
}

.header-devider {
  margin: 10px;
  border-right: 1px solid #fff;
}
