/* fonts */
@font-face {
	font-family: 'SegoeUI';
	src: local('Segoe UI'),
		url('../fonts/segoeui.ttf') format('truetype');
}

@font-face {
	font-family: 'Arghavan';
	src: local('Arghavan'),
		url('../fonts/Arghavan.ttf') format('truetype');
}

@font-face {
	font-family: 'yekan';
	src: local('iran-yekan'),
		url('../fonts/iran-yekan-500.ttf') format('truetype');
}

@font-face {
	font-family: 'khodkar';
	src: local('khodkar'),
		url('../fonts/Far_khodkar.ttf') format('truetype');
}