

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
body,
html {
	font-family: yekan, SegoeUI, Tahoma, sans-serif;
}

body {
	margin: 0;
	min-width: 320px;
	background-color: #fff;
	font-size: 1rem;
	line-height: 1.5;
}

#root{
	min-height: 100vh;
	height: 100vh;


}

.container {
  width: 85%;
	margin: 0 auto;
  max-width: 1600px;
	min-width: 320px;
}

