@mixin inputColor($color) {
  .input,
  .rmdp-input {
    background-color: transparentize($color, 0.4);
    @if (lightness($color) >= 50%) {
      color: #333;
      border: 1px solid #fff;
    } @else {
      color: #fff;
      border: 1px solid #333;
    }
  }
  .input:focus {
    border: 1px solid $color;
  }
  .rmdp-input:focus {
    border: 1px solid $color;
  }
}

.input-container {
	position: relative;
  .input,
  .rmdp-input {
    border: none;
    outline: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 0.95rem;
    outline: none;
    height: auto;
  }
  &.light {
    @include inputColor(#fff);
  }
  &.dark {
    @include inputColor(#333);
  }
  &.transparent {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
  }
  &.fullWidth {
    .input,
    .rmdp-input {
      width: 100%;
    }
  }

.pass-eye{
	color: #ccc;
	font-size: 1.7rem;
	cursor: pointer;
	position: absolute;
	left: 20px;
	top: 45px;
}

}
.numbernumber::after {
  content: attr(data-number);
}
