.roomSearch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;

  .results-wrapper {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    &.list {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  .filter-data-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    max-width: 1000px;
    padding: 0 20px;
    padding-top: 50px;

    svg,
    .filter-data-left .form-wrapper svg {
      color: var(--gold-color);
      font-size: 2.4rem;
      padding: 5px;
      cursor: pointer;
    }

    select,
    .filter-data-left .form-wrapper select, .form-wrapper input {
      background-color: transparent;
      color: var(--gold-color);
      border: none;
      font-size: 1rem;
      height: 100%;
      outline: none;
      cursor: pointer;
      line-height: 2;
			padding: 0;
      padding-bottom: 5px;
      text-align: left;
      * {
        background-color: #fff;
        color: #777;
      }
    }

		.form-wrapper input {

			     text-align: right;
		}

    .filter-data-right {
      display: flex;
      align-items: center;

      .filter-data-sort {
        display: flex;
        align-items: center;
      }
    }
    .filter-data-left {
      .form-wrapper {
				align-items: center;
        background-color: transparent;
        border: none;
        box-shadow: none;
        padding: 0;
				gap: 10px;

        .buttons-wrapper {
          padding: 0;
          .button-container .btn {
            padding: 0;
            box-shadow: none;
            span {
              filter: none;
            }
          }
        }
      }
    }
  }

}
