.roomSearch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;

  .results-wrapper {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    &.list {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  .filter-data-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95vw;
    max-width: 1000px;
    padding: 0 20px;
    padding-top: 50px;

    .filter-data-right {
      display: flex;
      align-items: center;
    }

    svg {
      color: var(--gold-color);
      font-size: 2.4rem;
      padding: 5px;
      cursor: pointer;
    }

    select,
    input {
      background-color: transparent !important;
      color: var(--gold-color) !important;
      border: none !important;
      font-size: 1rem;
      height: 100%;
      outline: none;
      cursor: pointer;
      line-height: 2;
      padding: 0;
			text-align: right;
      padding-bottom: 5px;
      * {
        background-color: #fff;
        color: #777;
      }
    }
    input {
      &::placeholder {
        color: var(--gold-color) !important;
      }
    }
  }
}
