.avatar-profile {
	display: flex;
	gap: 10px;
	align-items: center;
	.avatar-image {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 2px solid #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		img {
			width: 100%;
		}
		.avatar-withoutphoto{
			width: 40px;
			height: 35px;
			box-sizing: border-box;
			color: #999;
		}
	}
	p{
		color: #999;
		font-size: 0.9rem;
	}

}