.rooms-wrapper {
  .rooms-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    padding-bottom: 0;
    h1 {
      font-size: 1.2rem;
      margin-right: 50px;
    }
  }
  .table-image {
    height: 70px;
    width: 70px;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 100%;
    }
  }

  table {
    --data-table-library_grid-template-columns: 100px
      repeat(5, minmax(0px, 1fr)) 200px 150px !important;
			max-width: calc(100vw - 250px);
  }
}

.addRoom-wrapper {
  .form-wrapper {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .inputs-wrapper {
      width: 50%;
      padding: 20px;
      .input-container {
        width: 100%;
        input,
        select {
          width: 100%;
        }
      }
      &.description {
        width: 100%;
        .input-container {
          width: auto !important;
          textarea {
            width: 100% !important;
            height: 200px;
          }
        }
      }
    }

    .buttons-wrapper {
      width: 100%;
      margin: 50px;
      .button-container {
        width: 100%;
        .btn {
          width: 100%;
        }
      }
    }
  }
}

.table-extends-wrapper {
  color: #999;
  font-size: 0.8rem;
  line-height: 2;
  .user-profile {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .rooms-scores-wrapper {
    padding-bottom: 30px;
    p {
      color: #999;
      font-size: 0.8rem;
    }
  }
  .rooms-likes-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 30px;
  }
  .allComments-title {
    display: none;
  }
}
