#root:has(.adminPanel-wrapper) .header-wrapper {
  background-color: #122A3D;
}
#root:has(.adminPanel-wrapper) .navbar-wrapper {
  display: none;
}

.adminPanel-wrapper {
  padding-top: 80px;
  display: flex;

  .adminPanel-main {
    flex-grow: 1;
  }
}
